@page "/models"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Car models</h3>

@if (models == null)
{
    <div class="alert alert-info">Loading models...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Model in models)
            {
                <tr>
                    <td>@Model.Name</td>
                    <td>
                        <a href="/models/view/@Model.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/models/view/@Model.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(Model.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Model>? models;

    protected async override Task OnInitializedAsync()
    {
        models = await _client.GetFromJsonAsync<List<Model>>($"{Endpoints.ModelsEndpoint}");
    }

    async Task Delete(int ModelId)
    {
        if (models != null)
        {
            var Model = models.First(q => q.Id == ModelId);
            var confirm = await js.InvokeAsync<bool>("Confirm", $"Do you want to delete {Model.Name}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ModelsEndpoint}");
                await OnInitializedAsync();
            }
        }
    }

}
